.square {
  width: 24vh;
  height: 24vh;
  margin: auto;
  margin-bottom: 2vh;
}
.red {
  background-color: red;
  transition: width 1s;
}
.blue {
  background-color: blue;
  transition: height 1s;
}
.green {
  background-color: green;
  transition: width 1s, height 1s;
}

.red:hover {
  width: 37vh;
  transition: width 1s;
}

.blue:hover {
  height: 37vh;
}
.green:hover {
  width: 40vh;
  height: 40vh;
}
